#toplevel_page_fmffmanager .wp-menu-image.dashicons-before:before {
    font-family: 'latepointadmin' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    color: #2258ff; 
}